.img-feed {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.feed-grid {
    display: flex;
    flex-direction: column;
    padding: 100 0 0 100px;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
}

.create-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
    justify-content: center;
    align-items: center;
    background-color: #1B0D6F;
    padding: 20px 0;
    border-radius: 15px;
}

.create-section > input {
    width: 300px;
    height: 30px;
    color: #1B0D6F;
    padding-left: 15px;
}

.create-section > textarea {
    width: 300px;
    height: 60px;
    padding-left: 15px;
}

.post-creation {
    display: flex;
    justify-content: center;
}

.feed-btn {
    background-color: #00E0AC;
    color: #1B0D6F;
    width: 70px;
    height: 30px;
}

.feed-btn:hover {
    background-color: white;
    color:#1B0D6F;
    cursor: pointer;
}


.post-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}