/* Login and Register page*/
.register-wrapper,
.login-wrapper, 
.index-wrapper {
    background-color: #00E0AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #1B0D6F;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper input {
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    background-color: #1B0D6F;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

.btn-cta {
    width: 105px;
    height: 50px;
    color: white;
    background-color: #1B0D6F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9d7df;
    border-radius: 15px;
    font-size: 22px;
}

.btn-cta:hover {
    color: #1B0D6F;
    background-color: aliceblue;
    cursor: pointer;
}

.delete-cta {
    width: 105px;
    height: 50px;
    color: white;
    background-color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9d7df;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
}

.delete-cta:hover {
    color: red;
    background-color: aliceblue;
    cursor: pointer;
}

.div-edit-del {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.index-logo {
    width: 450px;
    height: 150px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}


.log-out-btn {
    background-color: red;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    height: 30px;
}

/* HEADER */ 

.header-content {
    width: 100%;
    height: 60px;
    background-color: #00E0AC;
    display: flex;
    justify-content: space-evenly;
}

.logo-div {
    align-items: center;
}

.btn-div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 5px;
    justify-content: right;
}

.js-header {
    display: flex;   
    flex-direction: row;          /* arrange children in a row */
    align-items: center;       /* vertically center them */
    justify-content: space-around; /* logo left, search bar right */
    padding: 10px 20px;
    gap: 20px;     
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header-search {
    width: 300px;
    height: 30px;
    background-color: #1B0D6F;
    color: white;
    border-radius: 10px;
    padding-left: 10px;

}

