@use "variables" as *;

//header 

.js-header {
    background-color: $primary;
    height: 60px;
    justify-content: space-around;
    align-items: center;

    img  {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .header-search {
        width: 300px;
        height: 35px;
        background-color: $secondary;
        color: $tertiary;
        border-radius: 10px;
        padding-left: 10px;

        @media (max-width: 576px) {
            width: 50%;
            height: auto;
        }
    }

    
    .btn-div {
        display: flex;
        
        @media (max-width: 576px) {
            display: none;
        }

        .log-out-btn {
            background-color: red;
            color: $tertiary;
            border: solid 1px black;
            border-radius: 5px;
            height: 30px;
        }

        .profile-link {
            color: $secondary;
        }
}
    
}

.btn-outline-success {
    @media (max-width: 567px) {
        width: 50px;
        height: auto;
        font-size: 16px;
    }
}



// post creation zone

.create-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: $logo-width;
    background-color: $primary;
    color: $secondary;
    padding: 20px 20px;
    border-radius: $border-radius;
    margin-top: 10px;

    @media (max-width: 576px) {
        width: 80%;
        height: auto;
    }

    input {
        width: 300px;
        height: 30px;
        
        @media (max-width: 576px) {
            width: 200px !important;
            height: auto !important;
        }
    }

    textarea {
        width: 350px;
        height: 50px;

        @media (max-width: 576px) {
            width: 250px;
            height: auto;
        }
    }
    

    button {
        background-color: $secondary;
        color: $tertiary;
        width: 70px;
        border: 2px solid $secondary;
        
        &:hover {
            background-color: white;
            color:#1B0D6F;
            cursor: pointer;
            border: 1px solid $secondary;
        }
    }

        @media (max-width: 576px) {

    }
}

// feed posts

.feed-grid {
    padding-top: 10px;
}

.feed-posts {

    flex-wrap: wrap;
}

.post-content {
    width: 350px;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid $secondary;
    padding: 15px;
    border-radius: $border-radius;
}

.img-feed {
    height: 250px;
    object-fit: cover;

     @media (max-width: 576px) { 

  }

}

.comment-form {
    gap: 5px;
}

.btn-submit-comment {
    width: $btn-width;
    height: $btn-height;
    background-color: $secondary;
    color: $tertiary;
}

.comment-input {
    width: 50%;
}
// Load Button

.load-btn {
    width: auto;
    border-radius: $border-radius;
}

// Footer

.footer {
    background-color: $primary;
    height: 50px;
    width: 90%;
}