@use "variables" as *;

//header 

.js-header {
    background-color: $primary;
    height: 60px;
    justify-content: space-around;
    align-items: center;

    img  {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .header-search {
        width: 300px;
        height: 35px;
        background-color: $secondary;
        color: $tertiary;
        border-radius: 10px;
        padding-left: 10px;
    }

    .log-out-btn {
        background-color: red;
        color: $tertiary;
        border: solid 1px black;
        border-radius: 5px;
        height: 30px;
    }

    .profile-link {
        color: $secondary;
    }


}



// post creation zone
.create-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: $logo-width;
    background-color: $primary;
    color: $secondary;
    padding: 20px 20px;
    border-radius: $border-radius;
    margin-top: 10px;

    input {
        width: 300px;
        height: 30px;
        color: #1B0D6F;
    }

    button {
        background-color: $secondary;
        color: $tertiary;
        width: 70px;
        border: 2px solid $secondary;
        
        &:hover {
            background-color: white;
            color:#1B0D6F;
            cursor: pointer;
            border: 1px solid $secondary;
        }
    }


}

// feed posts

.feed-grid {
    padding-top: 10px;
}

.post-content {
    margin-top: 20px;
    border: 1px solid $secondary;
    padding: 15px;
    gap: 5px;
    border-radius: $border-radius;
    width: 80%;
}

.img-feed {
    width: $feed-img-width;
    height: $feed-img-height;
    object-fit: cover;
}

.comment-form {
    gap: 5px;
}

.btn-submit-comment {
    width: $btn-width;
    height: $btn-height;
    background-color: $secondary;
    color: $tertiary;
}

.comment-input {
    width: 50%;
}
// Load Button

.load-btn {
    width: auto;
    border-radius: $border-radius;
}

// Footer

.footer {
    background-color: $primary;
    height: 50px;
    width: 90%;
}