@use "variables" as *;

.navbar.bg-body-primary {
  background-color: $primary !important;
  justify-content: space-around;
}

.navbar.form {
    width: 300px;
}

.header-search {
    width: 300px;
    height: 35px;

    color: $tertiary;
    border-radius: 10px;
    padding-left: 10px;

    @media (max-width: 576px) {
        width: 50%;
        height: auto;
    }
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}