@use "variables" as *;

.index-wrapper {
    background-color: $primary;
    padding-top: 30px;
}

.index-logo {
    width: $logo-width;
    height: $logo-height;
    object-fit: cover;

  @media (max-width: 576px) { 
    width: 200px;
    height: auto;
  }
}



.btn-background {
    background-color: $secondary;
    font-family: $font-family-btn;
    color: $tertiary;
    width: $btn-width;
    height: $btn-height;
    font-size: 22px;

    &:hover {
        background-color: $tertiary;
        color: $secondary;
    }
}