@use "variables" as *;

.register-wrapper {
    background-color: $primary;
}

.form-wrapper input {
    width: $input-width;
    height: $input-height;
    border-radius: 5px;
    border: 1px solid black;
    color: $secondary;
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
        justify-content: center;
        width: 200px !important;
        height: auto !important;
    }
}