$primary: #00E0AC; 
$border-radius: 12px;
$secondary: #1B0D6F;
$tertiary: white;
$font-family-btn: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$btn-width: 105px;
$btn-height: 50px;
$logo-width: 450px;
$logo-height: 150px;
$input-width: 300px;
$input-height: 35px;
$feed-img-width: 500px;
$feed-img-height: 300px;




