@use "variables" as *;

@use "../../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $border-radius: $border-radius,
  
);

@use "index" as *;
@use "register";
@use "feed";
@use "header";